h1 {
  color: #ff61d0;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 4px;
}
h2, h3, p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
header,footer, a:hover {
	color: #fae663;
}
header, nav, footer {
  background-color: #f77dc8;
  border-color: #fae663;
  border-style: solid;
  border-width: 5px;
  
}
body {
  margin: 25px;
  text-align: center;
}
img {
  margin: 15px;
  padding: 10px;
  border-color: #f77dc8;
  border-style: solid;
  border-width: 6px;
  size: 200px;
}
.align-right {
  text-align: right;
}
.box {
  background-color: #fae663;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.round {
  border-radius: 10px;
}
hr {
  border-width: 6px;
  border-color: #f77dc8;
  border-style: solid;
}
.bold {
  font-variant: bold;
}